*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header elements //////////////////////////////////////////////////////////// */
.headerEl{
    position: relative;
    width: 100%;
    border: none;
    
}
.headerEl .backBtn img{
    margin: 30px;
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 2;
}
/* .headerEl .backBtn img:hover{
    cursor: pointer;
} */

.headerEl .item-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    gap: 20px;
}

.headerEl .item-details .itemImage{
    flex: 0 0 250px;
    padding-left:50px;
}
.headerEl .item-details .itemImage img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.headerEl .item-details .itemTitle{
    margin-top: 80px;
    color:white;
}
.headerEl .item-details .itemTitle h1{
    overflow-wrap:break-word ;
}


.background{
    top: 0;
    left: 0;
    position: absolute;
    inset: 0;
    background: 
        linear-gradient(rgba(255,255,255,0.9), rgba(0,0,0,0.9)), 
        url(../images/Logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: center;
    border: none;
}

/* body elements ///////////////////////////////////////////////////////////////*/
.bodyEl{
    /* padding-left: 50px; */
    position: relative;
    width: 100%;
    color: white;
    background-color: black;
}

.buttons{
    margin-left: 50px;
    color: white;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.buttons .button{
    padding:  20px 30px;
    background-color: #232323;
    border-radius: 6px;
}
.buttons .details img{
    width: 20px;
    height: 20px;
}
.buttons .details{
    margin-left: 30px ;
    display: flex;
    gap: 30px;
}
.details .status{
    display: flex;
    align-items: center;
    gap: 6px;
}
.details span{
    font-weight: bold;
}
.details .studios{
    display: flex;
    align-items: center;
    gap: 6px;
}

.buttons .button:hover{
    background-color: #595959;
    cursor: not-allowed;
}
/* .buttons .addtoLibrary{
    
} */

.synopsis{
    margin: 0 50px;
    margin-bottom: 15px;
}
.synopsis p{
   overflow-wrap: break-word ;
   margin-top:10px ;
}
.genres{
    margin-left: 50px;
}
.genres h3{
    margin-bottom: 10px;
}
.genres .list{
    display: flex;
    gap: 20px;
}
.genres .genre{
    font-size: 12px;
    padding: 10px 20px;
    border:solid white 3px;
    border-radius: 12px;
}

/* footer /////////////////////////////////////////////////////////////////////*/

footer{
    padding: 50px;
    background-color: black;
    color: white;
    /* border:solid black 2px; */
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px ;
}

.footer-links img{
    width:32px ;
    height:32px ;
}
.footer-links .footer-logo img{
    border-radius: 8px;
    width: 40px;
    height: 40px;
}
.social-links{
    display: flex;
    gap: 20px;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbutton{
    margin-top: 10px;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    background-color: #232323;
}
.topbutton img{
    width: 20px;
    height: 20px;
}

.topbutton:hover{
    background-color: #595959;
}

.footer-copyright .topbutton.dark-mode{
    background-color: #232323;
}
.footer-copyright .topbutton.dark-mode:hover{
    background-color: #595959;
}